# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# Build artifacts
*.sym
*.iso
isodir/*

# Debugging and testing
io_port.txt
symbols
*.bxrc
bx_enh_dbg.ini